* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.Main {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 50px;
  background-color: lightsteelblue;
}
.second-level-container {
  display: flex;
}
.gadanomvra-background {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../../assets/Qarsafari/pexels-pavel-danilyuk-7654590.jpg")
    center/cover no-repeat; /* Replace with the actual path to your image */
  transition: transform 0.3s ease;
}
.link:hover .gadanomvra-background {
  transform: scale(1.1); /* Set your desired zoom factor */
}
.eqselis-wakitxva-background {
  background-color: cornflowerblue;
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../../assets/Qarsafari/pexels-luis-gomes-546819.jpg")
    center/cover no-repeat; /* Replace with the actual path to your image */
  transition: transform 0.3s ease;
}
.link:hover .eqselis-wakitxva-background {
  transform: scale(1.1); /* Set your desired zoom factor */
}
